[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atsphinx-color-text = "==0.1.*"
sphinx = "==6.*"
pydata-sphinx-theme = "==0.13.*"
sphinx_design = "==0.4.*"

[dev-packages]
sphinx-autobuild = "*"

[pipenv]
allow_prereleases = true
