name: 'Run CI jobs'

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: 'atsphinx/.github/actions/setup-aqua@main'
      - name: Set up workspace
        run: |
          task setup
      - name: Lint by lefthook
        run: |
          touch contents/_snippets/packages.rst
          lefthook run pre-commit --all-files
